<div data-ng-include="'/views/partials/pagecontentheader.html'"></div>
<div class="row">
    <div class="col-md-3" ng-show="user.userPermissions.CustomerList">
        <div class="form-group">
            <a ui-sref="customers/list" class="btn btn-block m-icon btn-eo">
                Tüm Kayıtlar <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-md-3" ng-show="user.userPermissions.CustomerAdd">
        <div class="form-group">
            <a ui-sref="customers/add" class="btn btn-block m-icon btn-eo">
                Yeni Kayıt <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>
<div class="portlet box tbl-eo">
    <div class="portlet-title">
        <div class="caption">
            {{$state.current.data.action}}
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form class="form-horizontal" role="form" ng-init="Get()">
            <div class="form-body">
                <h3 class="form-section">Müşteri Bilgileri</h3>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Müşteri:</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.name"></p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">OtherId:</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.otherId"></p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">WS Kullanıcı Adı:</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.userNameWs"></p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">WS Şifre:</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.passwordWs"></p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Vergi Dairesi:</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.taxName"></p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Vergi No:</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.taxNo"></p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">İl:</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.city"></p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Ülke:</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.country"></p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Telefon:</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.telephone"></p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Adres:</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.adress"></p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div data-ng-include="'/views/partials/recordstatus.html'"></div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <a ng-show="user.userPermissions.customerEdit" href="#/customers/edit/{{object.customerId}}" class="btn blue"><i class="fa fa-pencil"></i>Düzenle </a>
                                <a ng-show="user.userPermissions.customerList" ui-sref="customers/list" class="btn red"><i class="fa fa-times"></i>İptal </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"> </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>