<div data-ng-include="'/views/partials/pagecontentheader.html'"></div>
<div class="row" ng-show="user.userPermissions.productList">
    <div class="col-md-3">
        <div class="form-group">
            <a ui-sref="products/list" class="btn btn-block m-icon btn-eo">
                Tüm Kayıtlar <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>
<div class="portlet box tbl-eo">
    <div class="portlet-title">
        <div class="caption">
            {{$state.current.data.action}}
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form class="form-horizontal" name="form" ng-init="BindEditFields()" valid-submit="Edit(object)" novalidate>
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    Lütfen tüm gerekli alanları doldurunuz.
                </div>
                <!--/row-->
                <h3 class="form-section">Ürün Bilgileri</h3>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error': form.customerId.$invalid && form.customerId.$dirty, 'has-success': form.customerId.$valid }">
                            <label class="control-label col-md-3">Müşteri</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-user"></i>
                                    </span>
                                    <ui-select ng-model="$parent.object.customerId" name="CustomerId" theme="bootstrap" ng-change="ProductChanged(object.customerId)">
                                        <ui-select-match allow-clear="true" placeholder="Seçiniz">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item.customerId as item in customers | filter: $select.search">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Ürün No
                                <span class="required"></span>
                            </label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-user"></i>
                                    </span>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" placeholder="Ürün No" ng-model="object.productNo" name="ProductNo" ng-required="true" maxlength="50">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Ürün Adı (Tr)
                                <span class="required"></span>
                            </label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-user"></i>
                                    </span>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" placeholder=" Ürün Adı (Tr)" ng-model="object.productNameTr" name="ProductNameTr" ng-required="true" maxlength="50">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Ürün Adı (En)
                            </label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-user"></i>
                                    </span>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" placeholder=" Ürün Adı (En)" ng-model="object.productNameEng" name="ProductNameEng" maxlength="50">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Ürün Adı (Orj)
                            </label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-user"></i>
                                    </span>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" placeholder="Ürün Adı (Orj)" ng-model="object.productNameOrg" name="ProductNameOrg" maxlength="50">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Gtip
                                <span class="required"></span>
                            </label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-user"></i>
                                    </span>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" placeholder="Gtip" ng-model="object.hsCode" ng-required="true" name="HsCode" maxlength="16">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Birimi
                            </label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-user"></i>
                                    </span>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" placeholder="Birimi" ng-model="object.uom" name="Uom" maxlength="3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Brüt Ağırlık
                            </label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-user"></i>
                                    </span>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="number" class="form-control" placeholder="Brüt Ağırlık" ng-model="object.grossWeight" name="GrossWeight" maxlength="20">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Net Ağırlık
                            </label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-user"></i>
                                    </span>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="number" class="form-control" placeholder="Net Ağırlık" ng-model="object.netWeight" name="NetWeight" maxlength="20">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Sap Kodu
                            </label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-user"></i>
                                    </span>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" placeholder="Sap Kodu" ng-model="object.sapCode" name="SapCode" maxlength="50">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Menşei Ülke
                            </label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-user"></i>
                                    </span>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" placeholder="Menşei Ülke" ng-model="object.countryOfOrigin" name="CountryOfOrigin" maxlength="3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error': form.currencyType.$invalid && form.currencyType.$dirty, 'has-success': form.currencyType.$valid }">
                            <label class="control-label col-md-3">Döviz Cinsi</label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <ui-select ng-model="object.currencyType" name="CurrencyType" theme="bootstrap">
                                        <ui-select-match placeholder="Seçiniz">{{$select.selected.currencyTypeName}}</ui-select-match>
                                        <ui-select-choices repeat="item.ediCode as item in currencytypes | filter: $select.search">
                                            <div ng-bind-html="(item.ediCode + ' - ' + item.currencyTypeName) | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Birim Fiyat
                            </label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-user"></i>
                                    </span>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="number" class="form-control" placeholder="Birim Fiyat" ng-model="object.unitPrice" name="UnitPrice">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <h3 class="form-section">Kayıt Durumu</h3>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error': form.recordStatusId.$invalid && form.recordStatusId.$dirty, 'has-success': form.recordStatusId.$valid }">
                            <label class="control-label col-md-3">Kayıt Durumu</label>
                            <span class="required"></span>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-map-marker"></i>
                                    </span>
                                    <ui-select ng-model="$parent.object.recordStatusId" name="RecordStatusId" theme="bootstrap" ng-required="true">
                                        <ui-select-match placeholder="Seçiniz">{{$select.selected.recordStatusName}}</ui-select-match>
                                        <ui-select-choices repeat="item.recordStatusId as item in recordStatuses | filter: $select.search">
                                            <div ng-bind-html="item.recordStatusName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
            </div>
            <!--/row-->
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <a class="btn blue" data-toggle="modal" id="btn-show-modal"><i class="fa fa-check"></i>Kaydet</a>
                                <a ng-show="user.userPermissions.productList" ui-sref="products/list" class="btn red"><i class="fa fa-times"></i>İptal </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" data-attention-animation="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Onay</h4>
                        </div>
                        <div class="modal-body">
                            <p> Kaydetmek istediğinize emin misiniz? </p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" data-dismiss="modal" class="btn blue" id="btn-save"><i class="fa fa-check"></i>Kaydet</button>
                            <button type="button" data-dismiss="modal" class="btn red"><i class="fa fa-times"></i>İptal</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>