<div id="error-modal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" data-attention-animation="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:orange">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Hata Mesajı</h4>
            </div>
            <div class="modal-body">
                <p>
                    İşleminiz sırasında bir hata oluştu.
                    <!--Hata kayıt numarası:<strong> {{ExceptionID}} </strong>-->
                </p>
                <p><!--Hata kaydını Ayarlar menüsünde Hata Kayıtları altında görebilirsiniz.--> </p>
                <p>Sistemdeki aksaklık nedeniyle özür dileriz.</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn green"><i class="fa fa-check"></i>Tamam</button>
            </div>
        </div>
    </div>
</div>