<div data-ng-include="'/views/partials/pagecontentheader.html'"></div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box tbl-eo">
            <div class="portlet-title">
                <div class="caption">
                    {{$state.current.data.action}}
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" ng-init="List()" dt-invoicedetail aa-data="list">
                    <thead>
                        <tr>
                            <th> InvoiceDetailId </th>
                            <th> InvoiceId </th>
                            <th> HsCode</th>
                            <th> DescGoods</th>
                            <th> ProductNo</th>
                            <th> CountryOfOrigin</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>