<div class="modal fade" id="modalDetail" aria-hidden="true" ng-init="ModalDetail()">
    <div class="modal-dialog modal-full">
        <form class="modal-content" name="form" ng-init="BindFields()" valid-submit="Action(object)" novalidate>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

                <h4 class="modal-title">Stok Giriş</h4>
            </div>
            <div class="modal-body">
                <!-- BEGIN FORM-->
                <div class="form-horizontal">
                    <div class="form-body">
                        <input type="hidden" id="StokGirisId" ng-model="object.StokGirisId" name="StokGirisId" value="0" />

                        <div class="container no-margin">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Referans No <span class="required">*</span></label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.ReferansNo" name="ReferansNo" class="form-control" placeholder="Referans No" ng-required="true" maxlength="16">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">TPS No <span class="required">*</span></label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.TPSNo" name="TPSNo" class="form-control" placeholder="TPS No" ng-required="true" maxlength="30">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">TPS Durum <span class="required">*</span></label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.TPSDurum" name="TPSDurum" class="form-control" placeholder="TPS Durum" ng-required="true" maxlength="50">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">Basvuru Tarihi</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="icon-calendar"></i>
                                                </span>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" ng-model="object.BasvuruTarihi" name="BasvuruTarihi" class="form-control" placeholder="Basvuru Tarihi" datetime>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">Süre Sonu Tarihi</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="icon-calendar"></i>
                                                </span>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" ng-model="object.SureSonuTarihi" name="SureSonuTarihi" class="form-control" placeholder="Süre Sonu Tarihi" datetime>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">Gumruk Kodu</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.GumrukKod" name="GumrukKod" class="form-control" placeholder="Gumruk Kodu" maxlength="6">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">Beyanname No</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.BeyannameNo" name="BeyannameNo" class="form-control" placeholder="Beyanname No" maxlength="16">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Beyanname Tarihi</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="icon-calendar"></i>
                                                </span>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" ng-model="object.BeyannameTarihi" name="BeyannameTarihi" class="form-control" placeholder="Beyanname Tarihi" datetime>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">Belge Ad</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.BelgeAd" name="BelgeAd" class="form-control" placeholder="Belge Ad" maxlength="50">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">Belge Şart</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.BelgeSart" name="BelgeSart" class="form-control" placeholder="Belge Şart " maxlength="50">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">TPS Açıklama</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.TPSAciklama" name="TPSAciklama" class="form-control" placeholder="TPS Açıklama " maxlength="250">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">İthalatçı Firma</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.IthalatciFirma" name="IthalatciFirma" class="form-control" placeholder="İthalatçı Firma">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">İhracatçı Firma</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.IhracatciFirma" name="IhracatciFirma" class="form-control" placeholder="İhracatçı Firma">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">Kap Adet</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="number" ng-model="object.KapAdet" name="KapAdet" class="form-control" placeholder="Kap Adet">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-default btn-block">Arşiv</button>
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#modalImport">Veri Aktar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="gridDetail" style="min-height: 200px;"></div>
                    </div>
                </div>
                <!-- END FORM-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button id="btn-save" type="button" class="btn blue">Kaydet</button>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>