<div data-ng-include="'/views/partials/pagecontentheader.html'"></div>

<!-- BEGIN TABLE PORTLET-->
<div class="portlet box tbl-eo" ng-show="user.UserPermissions.StokGirisList">
    <div class="portlet-title">
        <div class="caption">
            Stok Girişleri
        </div>
        <div class="tools"> </div>
    </div>
    <div class="portlet-body">
        <div id="gridContainer" style="min-height: 400px;" ng-init="Grid()"></div>
    </div>
</div>
<!-- END TABLE PORTLET-->
<!-- BEGIN MODAL FORM-->
<div data-ng-include="'/views/stokgiris/action.html'"></div>
<!-- END MODAL FORM-->