<div class="modal fade" id="modalDetail" aria-hidden="true" ng-init="ModalDetail()">
    <div class="modal-dialog modal-full">
        <form class="modal-content" name="form" ng-init="BindFields()" valid-submit="Action(object)" novalidate>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

                <h4 class="modal-title">Stok Çıkış</h4>
            </div>
            <div class="modal-body">
                <!-- BEGIN FORM-->
                <div class="form-horizontal">
                    <div class="form-body">
                        <input type="hidden" id="StokCikisId" ng-model="object.StokCikisId" name="StokCikisId" value="0" />

                        <div class="container no-margin">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Referans No <span class="required">*</span></label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.ReferansNo" name="ReferansNo" class="form-control" placeholder="Referans No" ng-required="true" maxlength="16">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">TPS No <span class="required">*</span></label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.TPSNo" name="TPSNo" class="form-control" placeholder="TPS No" ng-required="true" maxlength="30">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">İşlem Tarihi</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="icon-calendar"></i>
                                                </span>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" ng-model="object.IslemTarihi" name="IslemTarihi" class="form-control" placeholder="İşlem Tarihi" datetime>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">TPS Tarihi</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="icon-calendar"></i>
                                                </span>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" ng-model="object.TPSTarih" name="TPSTarih" class="form-control" placeholder="TPS Tarihi" datetime>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label class="control-label col-md-4">Beyanname No</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.BeyannameNo" name="BeyannameNo" class="form-control" placeholder="Beyanname No" maxlength="16">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">Beyanname Tarihi</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="icon-calendar"></i>
                                                </span>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" ng-model="object.BeyannameTarihi" name="BeyannameTarihi" class="form-control" placeholder="Beyanname Tarihi" datetime>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">İthalatçı Firma</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.IthalatciFirma" name="IthalatciFirma" class="form-control" placeholder="İthalatçı Firma">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-default btn-block">Arşiv</button>
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-default btn-block">İş Emri Gönder</button>
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#modalDrop">Düşüm</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div id="gridDetail" style="min-height: 200px;"></div>
                    </div>
                </div>
                <!-- END FORM-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button id="btn-save" type="button" class="btn green">Kaydet</button>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modalDrop" aria-hidden="true" style="z-index: 1051;">
    <div class="modal-dialog modal-lg">
        <form class="modal-content" name="form" valid-submit="ActionImport(object)" novalidate>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">CHEP Depo Düşüm</h4>
            </div>
            <div class="modal-body">
                <!-- BEGIN FORM-->
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-5">Item No</label>
                                <div class="col-md-7">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" ng-model="object.ItemNo" name="ItemNo" class="form-control" placeholder="Item No" maxlength="16">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Çıkış Adet</label>
                                <div class="col-md-7">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" ng-model="object.DropCount" name="DropCount" class="form-control" placeholder="Çıkış Adet" maxlength="6">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary btn-block" ng-click="FindDrop()">Giriş Kayıtlarını Bul</button>
                        </div>
                    </div>
                </div>
                <div id="gridDrop" style="min-height: 200px;"></div>
                <!-- END FORM-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn green" ng-click="SendDrop()">Çıkış İşlemlerini Yap</button>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    <div class="modal-backdrop fade in" style="z-index: -1;"></div>
</div>