<div data-ng-include="'/views/partials/pagecontentheader.html'"></div>
<div class="row">
    <div class="col-md-3" ng-show="user.UserPermissions.BeyannameList">
        <div class="form-group">
            <a href="#/beyanname/list/{{user.UserId}}" class="btn btn-block m-icon btn-eo">
                Tüm Kayıtlar <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>
<div class="portlet box tbl-eo">
    <div class="portlet-title">
        <div class="caption">
            {{$state.current.data.action}}
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <div class="form-horizontal" style="" role="form" ng-init="Get()">
            <div id="beyanname-01">
                <!-- A -->
                <label id="tA">
                    {{object.VarisGumrukA_2}}<br />
                    {{object.VarisGumrukA_1}}<br />
                    {{object.VarisGumrukA_3 | date : 'dd.MM.yyyy'}}
                </label>
                <!-- 01 -->
                <label id="t01-01">{{object.Beyan1_a}}</label>
                <label id="t01-02">{{object.Beyan1_b}}</label>
                <label id="t01-03"></label>
                <!-- 02 -->
                <label id="t02-01">{{object.Gonderici2_1}}</label>
                <label id="t02-02">
                    {{object.Gonderici2_2}}<br />

                </label>
                <!-- 03 -->
                <label id="t03-01">{{object.Formlar3_a}}</label>
                <label id="t03-02">{{object.Formlar3_b}}</label>
                <!-- 04 -->
                <label id="t04-01">{{object.YukListe4_a}}</label>
                <!-- 05 -->
                <label id="t05-01">{{object.KalemSayisi5_a}}</label>
                <!-- 06 -->
                <label id="t06-01">{{object.KapAdedi6_a}}</label>
                <!-- 07 -->
                <label id="t07-01">{{object.Dosya_No}}</label>
                <!-- 08 -->
                <label id="t08-01">{{object.Alici8_1}}</label>
                <label id="t08-02">
                    {{object.Alici8_2}}<br />

                </label>
                <!-- 09 -->
                <label id="t09-01">{{object.MaliMusavir9_1}}</label>
                <label id="t09-02">
                    {{object.MaliMusavir9_2}}<br />
                    {{object.MaliMusavir9_3}}<br />

                </label>
                <!-- 10 -->
                <label id="t10-01">{{object.SevkUlkesi10_a}}</label>
                <!-- 11 -->
                <label id="t11-01">{{object.TicaretUlke11_a}}</label>
                <!-- 13 -->
                <label id="t13-01">{{object.TarimPolitikasi13_a}}</label>
                <!-- 14 -->
                <label id="t14-01">{{object.BeyanSahibi14_1}}</label>
                <label id="t14-02">
                    {{object.BeyanSahibi14_2}}<br />
                </label>
                <!-- 15 -->
                <label id="t15-01">{{object.CikisUlkesi15_a}}</label>
                <label id="t15-a">{{object.CikisUlkesiKodu15_a}}</label>
                <!-- 16 -->
                <label id="t16-01">{{object.MenseUlke16_a}}</label>
                <!-- 17 -->
                <label id="t17-01">{{object.GidecegiUlke17_a}}</label>
                <label id="t17-a">{{object.GidecegiUlkeKodu17_a}}</label>
                <!-- 18 -->
                <label id="t18-01">{{object.CikistakiTasit18_a}}</label>
                <label id="t18-02">{{object.CikistakiTasit18_b}}</label>
                <!-- 19 -->
                <label id="t19-01">{{object.Konteyner19_a}}</label>
                <!-- 20 -->
                <label id="t20-01">{{object.TeslimSekli20_a}}</label>
                <!-- 21 -->
                <label id="t21-01">{{object.SiniriGecen21_a}}</label>
                <label id="t21-02">{{object.SiniriGecen21_b}}</label>
                <!-- 22 -->
                <label id="t22-01">{{object.DovizVeFatura22_a}}</label>
                <label id="t22-02">{{object.DovizVeFatura22_b}}</label>
                <!-- 23 -->
                <label id="t23-01">{{object.DovizKuru23_a}}</label>
                <!-- 24 -->
                <label id="t24-01">{{object.Islemin24_a}}</label>
                <label id="t24-02"></label>
                <!-- 25 -->
                <label id="t25-01">{{object.SinirdakiTasima25_a}}</label>
                <!-- 26 -->
                <label id="t26-01">{{object.DahiliTasima26_a}}</label>
                <!-- 27 -->
                <label id="t27-01">{{object.VarisGumrukA_1}}</label>
                <!-- 28 -->
                <label id="t28-01">{{object.FinansalVeBankacilik28_1}}</label>
                <label id="t28-02">{{object.FinansalVeBankacilik28_2}}</label>
                <!-- 29 -->
                <label id="t29-01">{{object.VarisGumrukA_1}}</label>
                <!-- 30 -->
                <label id="t30-01">{{object.EsyaninBulunduguYer30_a}}</label>
                <!-- 31 -->
                <label id="t31-01">
                    {{object.KaplarVeEsya31_1}}
                </label>
                <!-- 32 -->
                <label id="t32-01">{{object.Kalem32_a}}</label>
                <!-- 33 -->
                <label id="t33-01">{{object.EsyaKodu33_a}}</label>
                <label id="t33-02">{{object.EsyaKodu33_b}}</label>
                <label id="t33-03">{{object.EsyaKodu33_c}}</label>
                <!-- 34 -->
                <label id="t34-01">{{object.MenseUlke34_a}}</label>
                <!-- 35 -->
                <label id="t35-01">{{object.BrutAgirlik35_a}}</label>
                <!-- 36 -->
                <label id="t36-01">{{object.TercihliTarife36_a}}</label>
                <!-- 37 -->
                <label id="t37-01">{{object.Rejim37_a}}</label>
                <label id="t37-02"></label>
                <!-- 38 -->
                <label id="t38-01">{{object.NetAgirlik38_a}}</label>
                <!-- 39 -->
                <label id="t39-01">{{object.Kota39_a}}</label>
                <!-- 40 -->
                <label id="t40-01">{{object.OzetBeyan40_a}}</label>
                <!-- 41 -->
                <label id="t41-01">{{object.TamamlayiciOlcu41_a}}</label>
                <label id="t41-02">{{object.OlcuBirimi}}</label>
                <!-- 42 -->
                <label id="t42-01">{{object.KalemFiyat42_a}}</label>
                <!-- 44 -->
                <label id="t44-01">
                    {{object.EkBilgi44_1}}<br />
                    {{object.EkBilgi44_2}}
                </label>
                <!-- 46 -->
                <label id="t46-01">{{object.IstatistikiKiymet46_a}}</label>
                <!-- 47 -->
                <label id="t47-01">{{object.Vergiler47_1_Tur}}<br />{{object.Vergiler47_2_Tur}}<br />{{object.Vergiler47_3_Tur}}<br />{{object.Vergiler47_4_Tur}}<br />{{object.Vergiler47_5_Tur}}</label>
                <label id="t47-02">{{object.Vergiler47_1_Matrah}}<br />{{object.Vergiler47_2_Matrah}}<br />{{object.Vergiler47_3_Matrah}}<br />{{object.Vergiler47_4_Matrah}}<br />{{object.Vergiler47_5_Matrah}}</label>
                <label id="t47-03">{{object.Vergiler47_1_Oran}}<br />{{object.Vergiler47_2_Oran}}<br />{{object.Vergiler47_3_Oran}}<br />{{object.Vergiler47_4_Oran}}<br />{{object.Vergiler47_5_Oran}}</label>
                <label id="t47-04">{{object.Vergiler47_1_Tutar}}<br />{{object.Vergiler47_2_Tutar}}<br />{{object.Vergiler47_3_Tutar}}<br />{{object.Vergiler47_4_Tutar}}<br />{{object.Vergiler47_5_Tutar}}</label>
                <label id="t47-05">{{object.Vergiler47_1_OS}}<br />{{object.Vergiler47_2_OS}}<br />{{object.Vergiler47_3_OS}}<br />{{object.Vergiler47_4_OS}}<br />{{object.Vergiler47_5_OS}}</label>
                <label id="t47-Toplam">{{object.Vergiler47_6_Toplam}}</label>
                <!-- 48 -->
                <label id="t48-01"></label>
                <!-- 49 -->
                <label id="t49-01">{{object.AntreponunTipi49_a}}</label>
                <!-- B -->
                <label id="tB-01">{{object.HesapDetaylariB_1_a}}<br />{{object.HesapDetaylariB_2_a}}<br />{{object.HesapDetaylariB_3_a}}<br />{{object.HesapDetaylariB_4_a}}{{object.HesapDetaylariB_5_a}}<br />{{object.HesapDetaylariB_6_a}}<br />{{object.HesapDetaylariB_7_a}}</label>
                <label id="tB-02">{{object.HesapDetaylariB_1_b}}<br />{{object.HesapDetaylariB_2_b}}<br />{{object.HesapDetaylariB_3_b}}<br />{{object.HesapDetaylariB_4_b}}{{object.HesapDetaylariB_5_b}}<br />{{object.HesapDetaylariB_6_b}}<br />{{object.HesapDetaylariB_7_b}}</label>
                <label id="tB-03">{{object.HesapDetaylariB_1_c}}<br />{{object.HesapDetaylariB_2_c}}<br />{{object.HesapDetaylariB_3_c}}<br />{{object.HesapDetaylariB_4_c}}{{object.HesapDetaylariB_5_c}}<br />{{object.HesapDetaylariB_6_c}}<br />{{object.HesapDetaylariB_7_c}}<br /></label>
                <label id="tB-04">{{object.HesapDetaylariB_1_d}}<br />{{object.HesapDetaylariB_2_d}}<br />{{object.HesapDetaylariB_3_d}}<br />{{object.HesapDetaylariB_4_d}}{{object.HesapDetaylariB_5_d}}<br />{{object.HesapDetaylariB_6_d}}<br />{{object.HesapDetaylariB_7_d}}<br /></label>

                <!-- 54 -->
                <label id="t54-01">{{object.YerVeTarih54_1_a}} {{object.YerVeTarih54_1_b}}</label>
                <label id="t54-02">{{object.YerVeTarih54_2_a}}</label>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button id="bypdf" class="btn btn-primary btn-lg btn-blockn"><i class="fa fa fa-file-pdf-o"></i>PDF KAYDET </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>

    $('#bypdf').click(function () {
        domtoimage.toJpeg(document.getElementById('beyanname-01'))
            .then(function (blob) {
                //var pdf = new jsPDF('l', 'in', [$('#beyanname-01').height(), $('#beyanname-01').width()]);
                var pdf = new jsPDF('portrait', 'pt', [$('#beyanname-01').width(), $('#beyanname-01').height()]);


                pdf.addImage(blob, 'JPEG', 0, 0, $('#beyanname-01').width(), $('#beyanname-01').height());
                pdf.save("beyanname.pdf");
                that.options.api.optionsChanged();

            });
    });



</script>