<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    {{user.companyName}}
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <span>{{$state.current.data.area}}</span>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-init="GetDashboardDetails()">
    <div class="row">
        <iframe ng-src="{{getFrameUrl(user.powerBI)}}" width="100%" height="700" frameborder="0" />
    </div>
    <!-- BEGIN DASHBOARD STATS -->
    <!--<div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="fa fa-users"></i>
                </div>
                <div class="details">
                    <div class="number"> {{dashboard.numberOfNewDemoAccounts}} </div>
                    <div class="desc"> Veri 1</div>
                </div>
                <a class="more" ui-sref="operators/listdemos">
                    Detaylar...
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="fa fa-share"></i>
                </div>
                <div class="details">
                    <div class="number"> {{dashboard.NumberOfDemoRequests}} </div>
                    <div class="desc"> Veri 2</div>
                </div>
                <a class="more" ui-sref="demorequests/list">
                    Detaylar...
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="details">
                    <div class="number"> {{dashboard.NumberOfOperatorVisits}} </div>
                    <div class="desc">Veri 3</div>
                </div>
                <a class="more" ui-sref="customervisits/list">
                    Detaylar...
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue">
                <div class="visual">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="details">
                    <div class="number"> {{dashboard.NumberOfReceipts}} </div>
                    <div class="desc"> Veri 4</div>
                </div>
                <a class="more" ui-sref="receipts/list">
                    Detaylar...
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
    </div>
     END DASHBOARD STATS 
    <div class="row">
        <div class="col-md-6 col-sm-6">
             BEGIN PORTLET
            <div class="portlet light bordered tasks-widget">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green hide"></i>
                        <span class="caption-subject font-green bold uppercase">Liste 1</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="task-content">
                        <div class="scroller" style="height: 282px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                             TASK LIST 
                            <ul class="task-list">
                                <li ng-repeat="x in dashboard.TaskList">
                                    <div class="task-title">
                                        <span class="label label-sm label-danger"><i class="fa fa-bell-o"></i></span>
                                        <a href="#/idealsigorta/branchapplications/get/{{x.BranchApplicationId}}" ng-show="x.BranchApplicationId != null">
                                            <span class="task-title-sp">{{x.Title}} / {{x.TaskDateDisplay}} </span>
                                        </a>
                                        <a href="#" ng-show="x.BranchApplicationId == null">
                                            <span class="task-title-sp">{{x.Title}} / {{x.TaskDateDisplay}} </span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                             END TASK LIST 
                        </div>
                    </div>
                    <div class="task-footer">
                        <div class="btn-arrow-link pull-right">
                            <a ui-sref="appointments/list">&nbsp;</a>
                        </div>
                    </div>
                </div>
            </div>
             END PORTLET
        </div>
        <div class="col-md-6 col-sm-6">
             BEGIN PORTLET
            <div class="portlet light bordered tasks-widget">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green hide"></i>
                        <span class="caption-subject font-green bold uppercase">Liste 2</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="task-content">
                        <div class="scroller" style="height: 282px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                             START TASK LIST 
                            <ul class="task-list">
                                <li ng-repeat="x in dashboard.OperatorTickets">
                                    <div class="task-title">
                                        <span class="label label-sm label-danger"><i class="fa fa-bell-o"></i></span>
                                        <a href="#/customertickets/get/{{x.OperatorTicketID}}"><span class="task-title-sp">{{x.OperatorName}}</span></a>
                                    </div>
                                </li>
                            </ul>
                             END START TASK LIST 
                        </div>
                    </div>
                    <div class="task-footer">
                        <div class="btn-arrow-link pull-right">
                            <a ui-sref="customertickets/list">&nbsp;</a>
                        </div>
                    </div>
                </div>
            </div>
             END PORTLET
        </div>
    </div>-->
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS -->


