<div class="modal fade" id="modalDetail" aria-hidden="true" ng-init="ModalDetail()">
    <div class="modal-dialog modal-full">
        <form class="modal-content" name="form" ng-init="BindFields()" valid-submit="Action(object)" novalidate>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

                <h4 class="modal-title">Stok Giriş</h4>
            </div>
            <div class="modal-body">
                <!-- BEGIN FORM-->
                <div class="form-horizontal">
                    <div class="form-body">
                        <input type="hidden" id="StokGirisId" ng-model="object.stokGirisId" name="StokGirisId" value="0" />

                        <div class="container no-margin">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Referans No <span class="required">*</span></label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-disabled="true" ng-model="object.referansNo" name="ReferansNo" class="form-control" placeholder="Referans No" ng-required="true" maxlength="16">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">TPS No <span class="required">*</span></label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.tpsNo" name="TPSNo" class="form-control" placeholder="TPS No" ng-required="true" maxlength="30">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">TPS Durum</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.tpsDurum" name="TPSDurum" class="form-control" placeholder="TPS Durum" maxlength="50">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">Basvuru Tarihi</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="icon-calendar"></i>
                                                </span>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" ng-model="object.basvuruTarihi" name="BasvuruTarihi" class="form-control" placeholder="Basvuru Tarihi" datetime>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">Süre Sonu Tarihi</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="icon-calendar"></i>
                                                </span>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" ng-model="object.sureSonuTarihi" name="SureSonuTarihi" class="form-control" placeholder="Süre Sonu Tarihi" datetime>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error': form.gumrukKod.$invalid && form.gumrukKod.$dirty, 'has-success': form.gumrukKod.$valid }">
                                        <label class="control-label col-md-4">Gümrük <span class="required">*</span></label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <ui-select ng-model="object.gumrukKod" name="GumrukKod" theme="bootstrap" ng-required="true">
                                                    <ui-select-match placeholder="Seçiniz">{{$select.selected.ediCode}}-{{$select.selected.customsName}}</ui-select-match>
                                                    <ui-select-choices repeat="item.ediCode as item in customs | filter: $select.search">
                                                        <div ng-bind-html="(item.ediCode + ' - ' + item.customsName) | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Beyanname No</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.beyannameNo" name="BeyannameNo" class="form-control" placeholder="Beyanname No" maxlength="18">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Aktarım Tarihi
                                        </label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="icon-calendar"></i>
                                                </span>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" ng-model="object.aktarimTarihi" name="AktarimTarihi" class="form-control" placeholder="Aktarım Tarihi" datetime disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Beyanname Tarihi</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="icon-calendar"></i>
                                                </span>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" ng-model="object.beyannameTarihi" name="BeyannameTarihi" class="form-control" placeholder="Beyanname Tarihi" datetime>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">Belge Ad</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.belgeAd" name="BelgeAd" class="form-control" placeholder="Belge Ad" maxlength="50">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">Belge Şart</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.belgeSart" name="BelgeSart" class="form-control" placeholder="Belge Şart " maxlength="50">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">TPS Açıklama</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.tpsAciklama" name="TPSAciklama" class="form-control" placeholder="TPS Açıklama " maxlength="250">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error': form.ithalatciFirma.$invalid && form.ithalatciFirma.$dirty, 'has-success': form.ithalatciFirma.$valid }">
                                        <label class="control-label col-md-4">İthalatçı Firma</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <ui-select ng-model="object.ithalatciFirma" name="IthalatciFirma" theme="bootstrap">
                                                    <ui-select-match placeholder="Seçiniz">{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.customerId as item in customers | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error': form.ihracatciFirma.$invalid && form.ihracatciFirma.$dirty, 'has-success': form.ihracatciFirma.$valid }">
                                        <label class="control-label col-md-4">İhracatçı Firma <span class="required">*</span></label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <ui-select ng-model="object.ihracatciFirma" name="IhracatciFirma" theme="bootstrap" ng-required="true">
                                                    <ui-select-match placeholder="Seçiniz">{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.customerId as item in customers | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">Kap Adet</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="number" ng-model="object.kapAdet" name="KapAdet" class="form-control" placeholder="Kap Adet">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-default btn-block">Arşiv</button>
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#modalImport">Veri Aktar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="gridDetail" style="min-height: 200px;"></div>
                    </div>
                </div>
                <!-- END FORM-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button id="btn-save" type="button" class="btn blue">Kaydet</button>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modalExcelImport" aria-hidden="true" ng-init="ModalExcelImport()">
    <div class="modal-dialog modal-full">
        <form class="modal-content" name="form" ng-init="BindFields()" valid-submit="Action(object)" novalidate>
            <div class="modal-header">
                <h4 class="modal-title">Stok Giriş Excel Aktarım</h4>
            </div>
            <div class="modal-body">
                <!-- BEGIN FORM-->
                <div class="form-horizontal">
                    <div class="form-body">
                        <input type="hidden" id="StokGirisId" ng-model="object.stokGirisId" name="StokGirisId" value="0" />
                        <div id="gridImportList" style="min-height: 200px;"></div>
                    </div>
                </div>
                <!-- END FORM-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button id="btn-importList" type="button" class="btn blue">Kaydet</button>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>