<div class="modal fade" id="modalImport" aria-hidden="true" ng-init="ModalImport()">
    <div class="modal-dialog">
        <form class="modal-content" name="form" ng-init="BindFieldsImport()" valid-submit="ActionImport(object)" novalidate>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

                <h4 class="modal-title">Excel'den Yükleme</h4>
            </div>
            <div class="modal-body">
                <!-- BEGIN FORM-->
                <div class="form-group">
                    <label class="control-label col-md-3"> Excel Dosyası </label>
                    <!--<div class="col-md-3">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="input-group input-large">
                                <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                    <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                    <span class="fileinput-filename"> </span>
                                </div>
                                <span class="input-group-addon btn default btn-file">
                                    <span class="fileinput-new"> Seçiniz </span>
                                    <span class="fileinput-exists"> Değiştir </span>
                                    <input type="file" name="ExcelFile" ngf-select accept=".xlsx">
                                </span>
                                <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Kaldır </a>
                            </div>
                        </div>
                    </div>-->
                    <!--/span-->
                    <div class="col-md-9">
                        <div class="form-group">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="input-group input-large">
                                    <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                        <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                        <span class="fileinput-filename"> </span>
                                    </div>
                                    <span class="input-group-addon btn default btn-file">
                                        <span class="fileinput-new"> Seçiniz </span>
                                        <span class="fileinput-exists"> Değiştir </span>
                                        <input type="file" name="ExcelFile" ngf-select accept=".xls" ng-model="object.ExcelFile">
                                    </span>
                                    <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Kaldır </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <!--/span-->
                </div>
                <!-- END FORM-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn blue" ng-click="UploadFile(object)">Dosya Yükle</button>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>