<div data-ng-include="'/views/partials/pagecontentheader.html'"></div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box tbl-eo">
            <div class="portlet-title">
                <div class="caption">
                    {{$state.current.data.action}}
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" ng-init="List()" dt-workorder aa-data="list">
                    <thead>
                        <tr>
                            <th> Kayıt Tarihi</th>
                            <th> İş Emri No </th>
                            <th> Declarition Type</th>
                            <th> Durum</th>
                            <th> MasterId</th>
                            <th> Müşteri</th>
                            <th> Mesaj</th>
                            <th> Kayıt Durumu</th>
                            <th> Detay</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>