<div class="modal fade" id="modalDetail" aria-hidden="true" ng-init="ModalDetail()">
    <div class="modal-dialog modal-full">
        <form class="modal-content" name="form" ng-init="BindFields()" valid-submit="Action(object)" novalidate>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

                <h4 class="modal-title">Stok Çıkış</h4>
            </div>
            <div class="modal-body">
                <!-- BEGIN FORM-->
                <div class="form-horizontal">
                    <div class="form-body">
                        <input type="hidden" id="stokCikisId" ng-model="object.stokCikisId" name="stokCikisId" value="0" />

                        <div style="max-width:900px">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label class="control-label col-md-4">Referans No <span class="required">*</span></label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-disabled="true" ng-model="object.referansNo" name="ReferansNo" class="form-control" placeholder="Referans No" ng-required="true" maxlength="16">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">TPS No</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.tpsNo" name="TPSNo" class="form-control" placeholder="TPS No" maxlength="30">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">İşlem Tarihi</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="icon-calendar"></i>
                                                </span>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" ng-model="object.islemTarihi" name="IslemTarihi" class="form-control" placeholder="İşlem Tarihi" datetime>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">TPS Tarihi</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="icon-calendar"></i>
                                                </span>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" ng-model="object.tpsTarih" name="TPSTarih" class="form-control" placeholder="TPS Tarihi" datetime>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4">Fatura Id</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.invoiceId" name="InvoiceId" class="form-control" placeholder="Fatura" ng-disabled="true">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': form.invoiceCurrency.$invalid && form.invoiceCurrency.$dirty, 'has-success': form.invoiceCurrency.$valid }">
                                        <label class="control-label col-md-4">Fatura Döviz Türü</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <ui-select ng-model="object.invoiceCurrency" name="InvoiceCurrency" theme="bootstrap">
                                                    <ui-select-match placeholder="Seçiniz">{{$select.selected.currencyTypeName}}</ui-select-match>
                                                    <ui-select-choices repeat="item.ediCode as item in currencytypes | filter: $select.search">
                                                        <div ng-bind-html="(item.ediCode + ' - ' + item.currencyTypeName) | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': form.aliciFirma.$invalid && form.aliciFirma.$dirty, 'has-success': form.aliciFirma.$valid }">
                                        <label class="control-label col-md-4">Alıcı Firma</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <ui-select ng-model="object.aliciFirma" name="aliciFirma" theme="bootstrap">
                                                    <ui-select-match placeholder="Seçiniz">{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.customerId as item in customers | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': form.teslimSekli.$invalid && form.teslimSekli.$dirty, 'has-success': form.teslimSekli.$valid }">
                                        <label class="control-label col-md-4">Teslim Şekli</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <ui-select ng-model="object.teslimSekli" name="teslimSekli" theme="bootstrap">
                                                    <ui-select-match placeholder="Seçiniz">{{$select.selected.ediCode}}</ui-select-match>
                                                    <ui-select-choices repeat="item.ediCode as item in deliveryterms | filter: $select.search">
                                                        <div ng-bind-html="(item.ediCode + ' - ' + item.name) | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': form.cikisGumruk.$invalid && form.cikisGumruk.$dirty, 'has-success': form.cikisGumruk.$valid }">
                                        <label class="control-label col-md-4">Gümrük</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <ui-select ng-model="object.cikisGumruk" name="cikisGumruk" theme="bootstrap">
                                                    <ui-select-match placeholder="Seçiniz">{{$select.selected.ediCode}}-{{$select.selected.customsName}}</ui-select-match>
                                                    <ui-select-choices repeat="item.ediCode as item in customs | filter: $select.search">
                                                        <div ng-bind-html="(item.ediCode + ' - ' + item.customsName) | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Kap Cinsi/Adet</label>
                                        <div class="col-md-4">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.kapCinsi" name="kapCinsi" class="form-control" placeholder="Cinsi" maxlength="2">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="number" ng-model="object.kapMiktari" name="kapMiktari" class="form-control" placeholder="Adet" maxlength="4">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">İş Emri Durum</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <textarea rows="2" ng-model="object.isEmriDurum" name="isEmriDurum" class="form-control" maxlength="300" readonly style="resize:none;"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Sipariş No</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.siparisNo" name="SiparisNo" class="form-control" placeholder="Sipariş No" maxlength="50">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Beyanname No</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.beyannameNo" name="BeyannameNo" class="form-control" placeholder="Beyanname No" maxlength="16">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Beyanname Tarihi</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="icon-calendar"></i>
                                                </span>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" ng-model="object.beyannameTarihi" name="BeyannameTarihi" class="form-control" placeholder="Beyanname Tarihi" datetime>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': form.customerId.$invalid && form.customerId.$dirty, 'has-success': form.customerId.$valid }">
                                        <label class="control-label col-md-4">İhracatcı Firma</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <ui-select ng-model="object.ihracatciFirma" name="ihracatciFirma" theme="bootstrap">
                                                    <ui-select-match placeholder="Seçiniz">{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.customerId as item in customers | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Fatura No</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.invoiceNo" name="InvoiceNo" class="form-control" placeholder="Fatura No" maxlength="50">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Fatura Tarihi</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="icon-calendar"></i>
                                                </span>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" ng-model="object.invoiceDate" name="InvoiceDate" class="form-control" placeholder="Fatura Tarihi" datetime>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Fatura Tutar</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="number" ng-model="object.invoiceAmount" name="InvoiceAmount" class="form-control" placeholder="Fatura Tutar">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Gtb Referans No</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.gtbReferenceNo" name="GtbReferenceNo" class="form-control" placeholder="Gtb Referans No">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': form.odemeSekli.$invalid && form.odemeSekli.$dirty, 'has-success': form.odemeSekli.$valid }">
                                        <label class="control-label col-md-4">Ödeme Şekli</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <ui-select ng-model="object.odemeSekli" name="odemeSekli" theme="bootstrap">
                                                    <ui-select-match placeholder="Seçiniz">{{$select.selected.ediCode}}</ui-select-match>
                                                    <ui-select-choices repeat="item.ediCode as item in paymentmethods | filter: $select.search">
                                                        <div ng-bind-html="(item.ediCode + ' - ' + item.name) | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': form.nakliyeciFirma.$invalid && form.nakliyeciFirma.$dirty, 'has-success': form.nakliyeciFirma.$valid }">
                                        <label class="control-label col-md-4">Nakliyeci Firma</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <ui-select ng-model="object.nakliyeciFirma" name="nakliyeciFirma" theme="bootstrap">
                                                    <ui-select-match placeholder="Seçiniz">{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.customerId as item in customers | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Araç Kimliği</label>
                                        <div class="col-md-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" ng-model="object.cikisAracKimligi" name="CikisAracKimligi" class="form-control" placeholder="Araç Kimliği" maxlength="35">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <button id="btnArchive" type="button" class="btn btn-default btn-block hidden">Arşiv</button>
                                        </div>
                                        <div class="col-sm-4">
                                            <button id="btnJobOrder" type="button" ng-click="SetWorkOrderService(object.stokCikisId)" class="btn btn-default btn-block hidden">İş Emri Gönder</button>
                                        </div>
                                        <div class="col-sm-4">
                                            <button id="btnDrop" type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#modalDrop">Düşüm</button>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <button id="btnKiloDagit" type="button" ng-click="KiloDagit(object.stokCikisId)" class="btn btn-default btn-block" data-toggle="modal">Kilo Dağıt</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="gridDetail" style="min-height: 300px;"></div>
                    </div>
                </div>
                <!-- END FORM-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button id="btn-save" type="button" class="btn blue">Kaydet</button>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modalDrop" aria-hidden="true" style="z-index: 2051;">
    <div class="modal-dialog modal-full">
        <form id="form-drop" class="modal-content" name="formDrop" novalidate>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">CHEP Depo Düşüm</h4>
            </div>
            <div class="modal-body">
                <!-- BEGIN FORM-->
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-5">Ürün Kodu</label>
                                <div class="col-md-7">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" ng-required="true" ng-model="object.Drop.itemNo" name="ItemNo" class="form-control" placeholder="Ürün Kodu" maxlength="50">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-3">Çıkış Adet</label>
                                <div class="col-md-8">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" ng-required="true" ng-model="object.Drop.dropCount" name="DropCount" class="form-control" placeholder="Çıkış Adet" maxlength="6">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="form-group" ng-class="{'has-error': form.ithalatciFirma.$invalid && form.ithalatciFirma.$dirty, 'has-success': form.ithalatciFirma.$valid }">
                                    <label class="control-label col-md-4">İthalatcı Firma</label>
                                    <div class="col-md-8">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <ui-select ng-model="object.Drop.ithalatciFirma" name="IthalatciFirma" theme="bootstrap" ng-required="true">
                                                <ui-select-match placeholder="Seçiniz">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.customerId as item in customers | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-block" ng-click="GetStokDusumListe(object.Drop.itemNo, object.Drop.dropCount, object.Drop.ithalatciFirma)">Giriş Bul</button>
                        </div>
                    </div>
                </div>
                <div id="gridDrop" style="min-height: 400px;"></div>
                <!-- END FORM-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button id="btnDropSubmit" type="button" class="btn blue" ng-click="InsertStokCikisFromStokDusumListe(object.stokCikisId,object.Drop)" disabled>Çıkış İşlemlerini Yap</button>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    <div class="modal-backdrop fade in" style="z-index: -1;"></div>
</div>

<!--<div class="modal fade" id="modalDrop1" aria-hidden="true" style="z-index: 1051;">
    <div class="modal-dialog modal-lg">
        <form id="form-drop" class="modal-content" name="formDrop" novalidate>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">CHEP Depo Düşüm</h4>
            </div>
            <div class="modal-body">-->
<!-- BEGIN FORM-->
<!--<div class="form-horizontal">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label col-md-5">Ürün Kodu</label>
                <div class="col-md-7">
                    <div class="input-icon right">
                        <i class="fa"></i>
                        <input type="text" ng-required="true" ng-model="object.Drop.itemNo" name="ItemNo" class="form-control" placeholder="Ürün Kodu" maxlength="16">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label col-md-5">Çıkış Adet</label>
                <div class="col-md-7">
                    <div class="input-icon right">
                        <i class="fa"></i>
                        <input type="text" ng-required="true" ng-model="object.Drop.dropCount" name="DropCount" class="form-control" placeholder="Çıkış Adet" maxlength="6">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-block" ng-click="GetStokDusumListe(object.Drop.itemNo, object.Drop.dropCount)">Giriş Kayıtlarını Bul</button>
        </div>
    </div>
</div>
<div id="gridDrop1" style="min-height: 200px;"></div>-->
<!-- END FORM-->
<!--</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
        <button id="btnDropSubmit1" type="button" class="btn blue" ng-click="InsertStokCikisFromStokDusumListe(object.stokCikisId,object.Drop)" disabled>Çıkış İşlemlerini Yap</button>
    </div>
</form>-->
<!-- /.modal-content -->
<!--</div>-->
<!-- /.modal-dialog -->
<!--<div class="modal-backdrop fade in" style="z-index: -1;"></div>
</div>-->
