<div data-ng-include="'/views/partials/pagecontentheader.html'"></div>
<div class="row">
    <div class="col-md-3" ng-show="user.UserPermissions.CustomerList">
        <div class="form-group">
            <a ui-sref="teminats/list" class="btn btn-block m-icon btn-eo">
                Tüm Kayıtlar <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-md-3" ng-show="user.UserPermissions.CustomerAdd">
        <div class="form-group">
            <a ui-sref="teminat/add" class="btn btn-block m-icon btn-eo">
                Yeni Kayıt <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>
<div class="portlet box tbl-eo">
    <div class="portlet-title">
        <div class="caption">
            {{$state.current.data.action}}
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form class="form-horizontal" role="form" ng-init="Get()">
            <div class="form-body">
                <h3 class="form-section">Teminat Bilgileri</h3>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">DosyaTipi:</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.DosyaTipi"></p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">DosyaNo:</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.DosyaNo"></p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Gönderici:</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.Gonderici"></p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Alici:</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.Alici"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Tescil No:</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.TescilNo"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Tescil Tarihi</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.TescilTarihi"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Gümrük</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.Gumruk"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Banka</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.Banka"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Antrepo Kodu</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.AntrepoKodu"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Teminat Ref No</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.TeminatRefNo"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Teminat Tutarı</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.TeminatTutari"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Ödenecek Tutar</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.OdenecekTutar"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Müracat No</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.MuracatNo"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Müracat Tarihi</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.MuracatTarihi"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Çözüm Tarihi</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.CozumTarihi"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Aciklama</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.Aciklama"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Evrak Teslim Alan</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.EvrakTeslimAlan"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Evrak Teslim Alma Tarihi</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.EvrakTeslimAlmaTarihi"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Evrak Teslim Eden</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.EvrakTeslimEden"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Evrak Teslim Tarihi</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="object.EvrakTeslimTarihi"></p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <a ng-show="user.UserPermissions.CustomerEdit" href="#/teminat/edit/{{object.TeminatId}}" class="btn green"><i class="fa fa-pencil"></i>Düzenle </a>
                                <a ng-show="user.UserPermissions.CustomerList" ui-sref="teminats/list" class="btn red"><i class="fa fa-times"></i>İptal </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"> </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>