<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="tr" data-ng-app="SparksXApp">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>SparksX - Giriş</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="SparksX | Giriş" name="description" />
    <meta content="SparksX" name="author" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="/content/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="/content/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/content/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="/content/assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/content/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/content/assets/pages/css/login-4.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
     <link rel="shortcut icon" href="/content/images/favicon.ico" />
</head>
<!-- END HEAD -->
<body class="login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="/login.html">
            <img src="/content/images/logo/logo.png" width="300" height="100" alt="" />
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" name="form" ng-controller="AccountController" ng-submit="Authenticate(object)" ng-init="CheckIfAlreadyLogin()" id="login-form">
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span> Tüm gerekli alanları doldurunuz! </span>
            </div>
            <div class="alert alert-danger" ng-show="isAuthenticationSuccessful==false">
                <button class="close" data-close="alert"></button>
                <span> Hatalı kullanıcı adı veya şifre. </span>
            </div>
            <div class="form-group" ng-class="{'has-error': form.UserName.$invalid && form.UserName.$dirty, 'has-success': form.UserName.$valid }">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Kullanıcı Adı</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" maxlength="50" placeholder="Kullanıcı Adı" name="username" ng-model="object.UserName" ng-required="true" ng-keyup="$event.keyCode == 13 && Login(object)" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': form.Password.$invalid && form.Password.$dirty, 'has-success': form.Password.$valid }">
                <label class="control-label visible-ie8 visible-ie9">Şifre</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off" maxlength="20" placeholder="Şifre" name="password" ng-model="object.Password" ng-required="true" ng-keyup="$event.keyCode == 13 && Login(object)" />
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn blue btn-block" id="button-submit">
                    Giriş <i ng-class="{'m-icon-swapright m-icon-white': loginclass==undefined, 'fa fa-spin fa-spinner': loginclass!=undefined }" class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>
        </form>
        <!-- END LOGIN FORM -->
    </div>
    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->
    <div class="copyright"> 2019 &copy; SparksX </div>
    <div class="logoalt" style="position:absolute; z-index:2000; bottom:30px; left:10px;">
        <a href="http://dscience.tech" target="_blank" style="text-decoration:none; padding:0; margin:0;">
            <img src="content/images/logo/logoalt.png" width="120" height="55" />
        </a>
    </div>
    <div class="logoaltsag" style="position:absolute; z-index:3000; opacity: 0.7; bottom:30px; right:10px;">
        <a href="#" style="text-decoration:none; padding:0; margin:0;">
            <!--<img src="content/images/logo/logoaltsag.png" width="300" height="101" />-->
        </a>
    </div>

    <!-- END COPYRIGHT -->
    <!--[if lt IE 9]>
    <script src="/content/assets/global/plugins/respond.min.js"></script>
    <script src="/content/assets/global/plugins/excanvas.min.js"></script>
    <script src="/content/assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="/content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/content/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="/content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/content/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="/content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="/content/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/content/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="/content/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="/content/assets/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="/content/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <!-- END THEME LAYOUT SCRIPTS -->
    <!-- BEGIN CORE ANGULARJS PLUGINS -->
    <script src="/content/assets/global/plugins/angularjs/angular.min.js" type="text/javascript"></script>
    <script src="/content/assets/global/plugins/angularjs/angular-sanitize.min.js" type="text/javascript"></script>
    <script src="/content/assets/global/plugins/angularjs/angular-touch.min.js" type="text/javascript"></script>
    <script src="/content/assets/global/plugins/angularjs/plugins/angular-ui-router.min.js" type="text/javascript"></script>
    <script src="/content/assets/global/plugins/angularjs/plugins/ocLazyLoad.min.js" type="text/javascript"></script>
    <script src="/content/assets/global/plugins/angularjs/plugins/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
    <script src="/scripts/app/custom/ui-mask/ngMask.min.js"></script>
    <!-- END CORE ANGULARJS PLUGINS -->
    <!-- BEGIN APP LEVEL ANGULARJS SCRIPTS -->
    <script src="/scripts/app/app.js" type="text/javascript"></script>
    <script src="/scripts/app/directives.js"></script>
    <script src="/scripts/app/service.js"></script>
    <script src="/scripts/app/controllers/AccountController.js" type="text/javascript"></script>
    <!-- END APP LEVEL ANGULARJS SCRIPTS -->
    <!-- BEGIN APP LEVEL JQUERY SCRIPTS -->
    <script src="/content/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <script src="/content/assets/layouts/layout2/scripts/layout.min.js" type="text/javascript"></script>
    <script src="/content/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="/content/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
    <script src="/content/assets/layouts/layout2/scripts/demo.min.js" type="text/javascript"></script>
    <!-- END APP LEVEL JQUERY SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script type="text/javascript">
        $.backstretch([
            "/content/assets/pages/sparksbg1.jpg"                
        ], {
            fade: 1000,
            duration: 2000
        });
    </script>
    <!-- END PAGE LEVEL SCRIPTS -->
</body>
</html>