<div class="toggler tooltips" data-container="body" data-placement="left" data-html="true" data-original-title="Tema rengini değiştirmek için tıklayınız">
    <i class="icon-settings"></i>
</div>
<div class="toggler-close">
    <i class="icon-close"></i>
</div>
<div class="theme-options">
    <div class="theme-option theme-colors clearfix">
        <span> Tema Rengi </span>
        <ul>
            <li class="color-default current tooltips" data-style="default" data-container="body" data-original-title="Kırmızı"> </li>
            <li class="color-grey tooltips" data-style="grey" data-container="body" data-original-title="Gri"> </li>
            <li class="color-blue tooltips" data-style="blue" data-container="body" data-original-title="Mavi"> </li>
        </ul>
    </div>    
</div>