<!-- BEGIN PAGE HEADER-->
<div data-ng-include="'/views/partials/pagecontentheader.html'"></div>
<div class="row" ng-show="user.UserPermissions.SparksArchiveImport">
    <div class="col-md-3">
        <div class="form-group">
            <a ui-sref="sparksarchive/import" class="btn btn-block m-icon btn-eo">
                Yeni Kayıt <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<div class="portlet box tbl-eo" ng-init="BindFields()">
    <div class="portlet-title">
        <div class="caption">
            Filtre Seçimi
        </div>
    </div>
    <div class="portlet-body form">
        <div class="form-horizontal">
            <div class="form-body">
                <!--/row-->
                <div class="alert alert-danger alert-dismissable" ng-show="object.ErrorMessage && !object.DisableButton">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <span class="label label-danger">Dikkat:</span> Bir hata oluştu!
                </div>
                <!--/row-->
                <div class="alert alert-warning alert-dismissable" ng-show="object.NotFoundMessage && !object.DisableButton">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <span class="label label-danger">Uyarı:</span> Kayıt bulunamadı.
                </div>
                <!--/row-->
                <div class="alert alert-warning alert-dismissable" ng-show="object.DisableButton">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <span class="label label-danger">Yükleniyor...</span> Liste güncellenirken lütfen bekleyin...
                </div>
                <!--/row-->
                <div class="alert alert-warning alert-dismissable" ng-show="!object.DisableButton">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <span class="label label-info">Bilgi:</span> Listeleme yapmak için "Tescil No", "Fatura No", "Dosya No" veya "Tescil Tarihleri" nin dolu olması gerekmektedir.
                </div>
                <!--/row-->
                <h3 class="form-section">Sparks Arşiv Filtreleri</h3>
                <!--/row-->
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">
                                Tescil No
                                <span class="required"></span>
                            </label>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-paper-plane"></i>
                                    </span>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" placeholder="Tescil No" ng-model="object.TescilNo" name="TescilNo" maxlength="16">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="form-group">
                            <label class="control-label col-md-5">
                                Dosya No
                                <span class="required"></span>
                            </label>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-paper-plane"></i>
                                    </span>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" placeholder="Dosya No" ng-model="object.DosyaNo" name="DosyaNo" maxlength="15">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-5">
                                Fatura No
                                <span class="required"></span>
                            </label>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-paper-plane"></i>
                                    </span>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" placeholder="Fatura No" ng-model="object.FaturaNo" name="FaturaNo" maxlength="20">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label col-md-5">
                                Tescil Tarihi Başlangıç
                                <span class="required"></span>
                            </label>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-volume-up"></i>
                                    </span>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" datetime placeholder="Tescil Tarihi Başlangıç" ng-model="object.TescilTarihiBaslangic">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="form-group">
                            <label class="control-label col-md-5">
                                Tescil Tarihi Bitiş
                                <span class="required"></span>
                            </label>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-volume-down"></i>
                                    </span>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" in class="form-control" datetime placeholder="Tescil Tarihi Bitiş" ng-model="object.TescilTarihiBitis">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-2">
                        <div class="form-group">
                            <button type="button" class="btn blue" ng-click="List(object)" ng-disabled="object.DisableButton"><i class="fa fa-file"></i>Listele</button>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
            </div>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN TABLE -->
<div class="row" ng-show="list!=undefined&&list.length>0&&!object.DisableButton">
    <div class="col-md-12">
        <div class="portlet box tbl-eo">
            <div class="portlet-title">
                <div class="caption">
                    {{$state.current.data.action}}
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" dt-sparksarchive aa-data="list">
                    <thead>
                        <tr>
                            <th> Detay</th>
                            <th> Dosya No</th>                           
                            <th> Firma</th>
                            <th> Alıcı</th>
                            <th> Müş.Ref.No</th>
                            <th> Fatura No</th>
                            <th> Tescil No</th>
                            <th> Tescil Tarihi</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /BEGIN TABLE -->