<div data-ng-include="'/views/partials/pagecontentheader.html'"></div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box tbl-eo">
            <div class="portlet-title">
                <div class="caption">
                    {{$state.current.data.action}}
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body">
                <table class="first table table-striped table-bordered table-hover" ng-init="ListAll()" dt-Invoicealldetail aa-data="list">
                    <thead>
                        <tr>
                            <td>SenderNo</td>
                            <td>SenderName</td>
                            <td>SenderAddress</td>
                            <td>SenderCity</td>
                            <td>SenderCountry</td>
                            <td>ConsgnName</td>
                            <td>ConsgnAddress</td>
                            <td>ConsgnCity</td>
                            <td>ConsgnCountry</td>
                            <td>TransptrName</td>
                            <td>VesselName</td>
                            <td>AgentName</td>
                            <td>PlateNo</td>
                            <td>AwbNo</td>
                            <td>Blno</td>
                            <td>Incoterms</td>
                            <td>DeliveryLocation</td>
                            <td>InvoiceAmount</td>
                            <td>InvoiceCurrency</td>
                            <td>FreightAmount</td>
                            <td>FreightCurrency</td>
                            <td>InsuranceAmount</td>
                            <td>InsuranceCurrency</td>
                            <td>CreatedDate</td>
                            <td>HsCode</td>
                            <td>DescGoods</td>
                            <td>ProductNo</td>
                            <td>CountryOfOrigin</td>
                            <td>Uom</td>
                            <td>ActualQuantity</td>
                            <td>InvoiceQuantity</td>
                            <td>GrossWeight</td>
                            <td>NetWeight</td>
                            <td>IntrnlAgmt</td>
                            <td>InvoiceNo</td>
                            <td>InvoiceDate</td>
                            <td>PkgType</td>
                            <td>CommclDesc</td>
                            <td>NumberOfPackages</td>
                            <td>RecordStatusId</td>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>

                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>




