<div data-ng-include="'/views/partials/pagecontentheader.html'"></div>
<div class="row" ng-show="user.UserPermissions.ProductAdd">
    <div class="col-md-3">
        <div class="form-group">
            <a ui-sref="products/add" class="btn btn-block m-icon btn-eo">
                Yeni Kayıt <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <a ui-sref="products/import" class="btn btn-block m-icon btn-eo">
                Excelden Al <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<div class="portlet box tbl-eo">
    <div class="portlet-title">
        <div class="caption">
            Ürünler
        </div>
    </div>
    <div class="portlet-body form" ng-init="BindAddFields()">
        <div class="form-horizontal">
            <div class="form-body">
                <div class="alert alert-warning alert-dismissable" ng-show="list.length==0">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <span class="label label-danger">Bilgi:</span> Kayıt bulunamadı.
                </div>
                <!--/row-->
                <h3 class="form-section">Müşteri Seçimi</h3>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error': form.CustomerId.$invalid && form.CustomerId.$dirty, 'has-success': form.CustomerId.$valid }">
                            <label class="control-label col-md-3">Müşteri</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-user"></i>
                                    </span>
                                    <ui-select ng-model="$parent.object.CustomerId" name="CustomerId" theme="bootstrap" ng-change="ProductChanged(object.CustomerId)">
                                        <ui-select-match allow-clear="true" placeholder="Seçiniz">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="item.CustomerId as item in customers | filter: $select.search">
                                            <div ng-bind-html="item.Name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
            </div>
        </div>
    </div>
</div>
<!-- BEGIN TABLE PORTLET-->
<form class="row" ng-show="list.length>0" role="form" novalidate>
    <div class="col-md-12">
        <div class="portlet box tbl-eo">
            <div class="portlet-title">
                <div class="caption">
                    Ürünler
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" dt-product aa-data="list">
                    <thead>
                        <tr>
                            <th> Müşteri</th>
                            <th> Ürün No </th>
                            <th> Ürün (Tr)</th>
                            <th> Ürün (En)</th>
                            <th> Ürün (Org)</th>
                            <th> HS Kodu </th>
                            <th> UOM</th>
                            <th> Brüt Ağırlık</th>
                            <th> Net Ağırlık</th>
                            <th> Düzenle </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</form>
<!-- END TABLE PORTLET-->